<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    
    <%- include('../partials/nav') %>

    <div class="container mt3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <% if (action != "undefined" && action == "delete") { %>
                 <div class="alert alert-success">
                    Blog silindi.
                 </div>
                <% } %>
                <% if (action != "undefined" && action == "create") { %>
                 <div class="alert alert-success">
                    Blog oluşturuldu.
                 </div>
                <% } %>
                <% if (action != "undefined" && action == "edit") { %>
                 <div class="alert alert-success">
                    Blog düzenlendi.
                 </div>
                <% } %>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 75px;">id</th>
                            <th style="width: 150px;">resim</th>
                            <th>baslik</th>
                            <th style="width: 150px;">işlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% blogs.forEach(blog => { %>
                            <tr>
                                <td><%= blog.blogid %></td>
                                <td>
                                    <img src="/static/images/<%= blog.resim %>" class="img-fluid" alt="">
                                </td>                                
                                <td>
                                    <h5><%= blog.baslik %></h5>
                                    <br>
                                    <%= blog.altbaslik %>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="/admin/blogs/<%= blog.blogid %>">Edit</a>
                                    <a class="btn btn-sm btn-danger" href="/admin/blog/delete/<%= blog.blogid %>">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>