<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <img src="/static/images/<%= blog.resim %>" class="img-fluid" alt="">
        </div>
        <div class="row">
            <h3><%= blog.baslik %></h3>
            <p><%= blog.aciklama %></p>
        </div>
    </div>

</body>
</html>